$highlightColor: #db4242;
$mediumGray: #898989;
$blueGray: #566774;
$darkBlueGray: #43525D;
$darkGray: #343434;

$gradRed: linear-gradient(to bottom, $highlightColor, #B71818);
$gradWhite: linear-gradient(to bottom, #ffffff, #F4F4F4 80%, #E2E2E2);
$gradBlue: linear-gradient(21deg, #4E728D, #1A3C57);
$gradGray: linear-gradient(to bottom, #C8C8C8, #B4B4B4);

$rounded: 8px;

$defaultFont: 'Rubik', sans-serif;
$near: -0.035em;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

$px15: 0.9375rem;
$px16: 1rem;
$px17: 1.0625rem;
$px18: 1.125rem;
$px19: 1.1875rem;
$px20: 1.25rem;
$px22: 1.375rem;
$px26: 1.625rem;
$px30: 1.875rem;
$px33: 2.0625rem;
$px40: 2.5rem;
$px42: 2.625rem;